body {
  margin 0;
  background-color: #b6cab6;
}

#pets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#all {
  background-color: #22aa22;
}

#dog {
  background-color: #aa2222;
}
.dog {
  background-color: #faa9a9;
}

#cat {
  background-color: #aa80cc;
}
.cat {
  background-color: #bb90ee;
}

#dinosaur {
  background-color:#c7c404
}
.dinosaur {
  background-color: #f5f790;
}


#pets{
  margin-bottom: 5%;
}

h1 { 
  text-align: center;
  margin: 30px 0 20px 0;
}

.img-container {
  height: 225px;
  background-size: cover;
  background-position: center;
}

.my-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.pet-name {
  text-align: center;
  font-size: 1.2em;
}

.pet-color {
  margin-top: 5px;
  text-align: center;
}

.pet-skill {
  text-align: justify;
  min-height: 4em; 
}

.pet-type {
  text-align: center;
  font-size: 1.1em;
}
